%{ for prefix in local.instance_prefixes ~}
[${prefix}]
%{ for count in range(var.instance_count) ~}
%{ if count < 4 || (count - 4) % 3 + 2 == loop.index ~}
${servers[count]}
%{ endif ~}
%{ endfor ~}
%{ endfor ~}
